# Environment variables
.env

# Node.js dependencies
node_modules/

# Logs and temporary files
*.log
*.tmp

# Editor-specific files
.vscode/
.idea/

# Operating system-specific files
Thumbs.db
.DS_Store

# Build artifacts
/build/
/dist/
